<div class="container">
  <div class="row">
        <div class="col-xs-8">
            <h2 class="section-headline"><span>Prenotation List</span></h2>
        </div>
        <div class="col-xs-4">
            <img src="../../../assets/image/anavis.jpeg" class="img-responsive right" style="width:400px; z-index:1;" />
        </div>
        
    </div>
    <hr style="position: absolute;width:85%; height:6px; background-color: #333; z-index:-1; margin-top: -170px;" />
  <div class="table-responsive" style="margin-top: 30px">
    <table id="dateListTable" class="table bordered highlight">
      <thead>
        <tr>
          <th>
            
          </th>
          <th>Place</th>
          <th>Date</th>
          <th>Donation Done</th>
          <th>Active?</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let prenotation of prenotationList">

          <td>
          <input hidden="hidden" name="id">
          
          </td>
          <td>
            <a (click)="onSelect(prenotation)" style="cursor: pointer;">{{prenotation.date.place}}</a>
          </td>
          <td>{{prenotation.date.prenotationDate}}</td>
          <td>{{prenotation.donationDone}}</td>
          <td>{{prenotation.active}}</td>
          <td>
            <input hidden="hidden" name="id"/>
            <button mat-button (click)="onRemoveOne(prenotation)" value="delete"><span class="fa fa-times"></span> delete</button>
          </td>
          
          
        </tr>
      </tbody>
    </table>
  </div>
</div>
