<div class="container">
	<div style="margin-top: 20px;">
	</div>
	<img src="../../../assets/image/anavis.jpeg" class="img-responsive right" style="width:350px; z-index:1;" />
<mat-grid-list cols="9" rowHeight="100px">
				<mat-grid-tile [colspan]="3" [rowspan]="5">
					<div style="margin-top: 200px; margin-left: -100px;" class="panel panel-default">
						
					</div>
				</mat-grid-tile>
			<div style="margin-top: -250px;">
				<mat-grid-tile [colspan]="3" [rowspan]="3">
					<mat-list>
						<mat-list role="list">	
							<mat-list-item>
							<h2><strong>Place: </strong>{{date.place}}</h2>
						</mat-list-item>
						<mat-list-item>
							<h2><strong>Publication Date: </strong>{{date.prenotationDate}}</h2>
						</mat-list-item>
						<mat-list-item>
							<h2><strong>Available number: </strong>{{date.remainingNumber}}</h2>
						</mat-list-item>
						<mat-list-item>
							<h2><strong>Active: </strong>{{date.active}}</h2>
						</mat-list-item>
						<mat-list-item>
							<h2>Description:</h2> 
                         &nbsp;
					<p>{{date.description}}</p>
						</mat-list-item>

						<button style="margin-left: 20px;" class="mat-primary" mat-raised-button (click)="onSelect(date)">Edit Date</button>

						
					</mat-list>
					</mat-list>

				</mat-grid-tile>
			</div>
				
			</mat-grid-list>
		</div>