<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h2 class="section-headline"><span>Prenotation Info</span></h2>
        </div>
        <div class="col-xs-4">
            <img src="../../../assets/image/anavis.jpeg" class="img-responsive right" style="width:400px; z-index:1;" />
        </div>
        
    </div>
    <hr style="position: absolute;width:85%; height:6px; background-color: #333; z-index:-1; margin-top: -170px;" />
    <div class="row">
        <div class="row" style="margin-top: 120px;">
            <div class="col-xs-3" style="margin-top: -50px;">
                <a routerLink="/prenotationList">Back to prenotation list</a>
                <br />
                
            </div>
            <div class="col-xs-9">
                
                <div class="row">
                    <div class="col-xs-5">
                        <h5><strong>Place: </strong><span>{{date.place}}</span></h5>
                        <p><strong>Prenotation Date: </strong><span>{{date.prenotationDate}}</span></p>
                        <p><strong>Available Number: </strong><span>{{date.remainingNumber}}</span></p>
                        <p><strong>Active: </strong><span>{{prenotation.active}}</span></p>
                        <p><strong>Description: </strong><span>{{date.description}}</span></p>
                    </div>
                    <div class="col-xs-7">
                        <div class="panel panel-default" style="border-width:5px; margin-top:20px;">
                            <div class="panel-body">
                                <div class="col-xs-6">
                                    
            				
            				</div>
            			</div>
            				
            			</div>
            		</div>
            	</div>
            </div>

            <hr />
        </div>
    </div>
</div>
