<div class="container">
	<div [hidden]="dateUpdated">
		<h3 style="margin-top: 30px">Update Date Information <span style="font-size: small;">* is a required field</span></h3>

		<form (ngSubmit)="onSubmit()">
			<mat-grid-list cols="4" rowHeight="60px">
				<mat-grid-tile [colspan]="4" [rowspan]="1">
					<mat-form-field class="full-width" appearance="fill">
						<mat-label>Place</mat-label>
						<input matInput id="place" type="text" required [(ngModel)]="date.place" name="place">
					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>


			<mat-grid-list cols="4" rowHeight="60px">
				<mat-grid-tile [colspan]="4" [rowspan]="1">
					<mat-form-field class="full-width" appearance="fill">
						<mat-label>Prenotation Date</mat-label>
						<input matInput id="prenotationDate" type="date" required [(ngModel)]="date.prenotationDate" name="prenotationDate">
					</mat-form-field>
				</mat-grid-tile>
			</mat-grid-list>

			<mat-grid-list cols="4" rowHeight="60px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<mat-form-field class="full-width" appearance="fill">
						<mat-label>Remaining Number</mat-label>
						<input matInput id="remainingNumber" type="number"  [(ngModel)]="date.remainingNumber" name="remainingNumber" step="1">
					</mat-form-field>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					&nbsp;
					<mat-slide-toggle [color]="color" [checked]="checked" [disabled]="disabled" [(ngModel)]="date.active" name="active">Active</mat-slide-toggle>
				</mat-grid-tile>
			</mat-grid-list>

			<mat-form-field class="full-width" appearance="fill">
						<mat-label>Description</mat-label>
						<textarea matInput id="description" [(ngModel)]="date.description" name="description" required></textarea>
					</mat-form-field>
					 

					<mat-grid-list cols="20" rowHeight="60px">
				<mat-grid-tile [colspan]="2" [rowspan]="1">
						<button class="mat-primary" mat-raised-button type="submit">Update Date</button>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="1">
					<a class="mat-warn" mat-raised-button routerLink="/dateList">Cancel</a>
				</mat-grid-tile>
			</mat-grid-list>


		</form>
	</div>
	<div class="row" [hidden]="!dateUpdated">
		<h3>Date Updated successfully!</h3>
	</div>
</div>
