<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<h2 class="section-headline"><span>Home</span></h2>
		</div>
		<div class="col-xs-4">
			<img src="../../../assets/image/anavis.jpeg" class="img-responsive right" style="width:400px; z-index:1;" >
		</div>
	</div>

	<hr style="position: absolute;width:85%; height:6px; background-color: #333; z-index:-1; margin-top: -170px;" >
	<hr />
	

	<div  id="banner" style="overflow: hidden; display: flex; justify-content:space-around;">
		<div >
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" routerLink="/bookList">
						<img style="width: 130%" src="../../../assets/image/heartAnAvis.jpg" class="img-responsive" >
					</a>
				</div>
			</div>
		</div>
		<div >
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" routerLink="/hours">
						<img style="width: 85%" src="../../../assets/image/anAvisHands.png" class="img-responsive" >
					</a>
				</div>
			</div>
		</div>
		<div >
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" routerLink="/faq">
						<img style="width: 100%" src="../../../assets/image/saveAlife.jpg" class="img-responsive" >
					</a>
				</div>
			</div>
		</div>
	</div>

</div>