<!doctype html>
<html lang="en">


<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">ANAVIS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a *ngIf="!loggedIn" class="nav-link" routerLink="/myAccount">My Account <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a *ngIf="loggedIn" class="nav-link" routerLink="/dateList">Date List</a>
      </li>
      <li class="nav-item active">
        <a *ngIf="loggedIn" class="nav-link" routerLink="/myProfile">My Profile</a>
      </li>
      <li *ngIf="loggedIn" class="nav-item dropdown">
        <a class="nav-item active" class="nav-link" routerLink="/prenotationList">My Prenotations</a>
      </li>
      <form class="form-inline">
        <li class="nav-item active" style="margin-left: 1000px">
        <button *ngIf="loggedIn" class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Logout</button>
      </li>
      </form>
    </ul>
  </div>
</nav>
</html>